#titulo{
    color: red;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    border: 1px solid #002;
    text-align: left;
    padding: 8px;
    
}
tr:hover{
    background-color: #f00;
}